
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Add your comment here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- METODO PARA GUARDA EN LA BASE DE SQLite PERO NO NOS TRAE NADA -->
  <!-- <form [formGroup]="datosForm" (ngSubmit)="(ngSubmit)="storeData()"> -->

    <!-- DECLARACION Y APLICAION DEL FORMULARIO -->
  <form [formGroup]="datosForm" (ngSubmit)="addComent(datosForm.value)">

    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input formControlName="userName" placeholder="Pepito Benebientos"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validaciones of mensajesVal.datos">
        <div *ngIf="datosForm.get('userName').hasError(validaciones.type) &&
                    (datosForm.get('userName').dirty || datosForm.get('userName').touched)">
        {{validaciones.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Name of the Movie</ion-label>
      <ion-input formControlName="titulo" placeholder="Spider-man"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validaciones of mensajesVal.datos">
        <div *ngIf="datosForm.get('titulo').hasError(validaciones.type) &&
                    (datosForm.get('titulo').dirty || datosForm.get('titulo').touched)">
        {{validaciones.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Review</ion-label>
      <ion-input formControlName="resena" placeholder="Lo más epico del DC XD"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validaciones of mensajesVal.datos">
        <div *ngIf="datosForm.get('resena').hasError(validaciones.type) &&
                    (datosForm.get('resena').dirty || datosForm.get('resena').touched)">
        {{validaciones.message}}
        </div>
      </ng-container>
    </div>

    <!-- BOTON PARA CARGAR LOS DATOS DE NUESTRO FORMULARIO -->
    <ion-button expand="block" [disabled]="!datosForm.valid" type="submit">Add your opinion</ion-button>

  </form>



</ion-content>
