
//AQUÍ DEFINIMOS EL FORMATO QUE TOMARÁ LA IMAGEN
.info-img
{
    max-height: 50vh;
    max-width: 50vh;
    padding: 5px;
    margin: auto;
    display: block;
}


//CENTRAR EL ION-CARD
.card-center{
    width:90%;
    display:block;
    margin: 0 auto;
}

//AQUI DEFINIMOS UN TAMAÑO PARA LA ALTURA DE LA IMAGEN
@media(max-width: 800px)
{
    .info-img
    {
        max-height: 100%;
    }
}
